@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}



.simplify{
  background-color: #F25F3A !important;
  background-image: url(./images/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.search::placeholder{
  padding-left: 15px;
}

.swiper-container {
  width: 80%;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 100%;
  }
}
